body {
  background-image: url("/SomethingWickD_TWC/myCreations/SMTHNwckd/PicsArt_1441086735950.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.jumbotron {
   background: url(PicsArt_1441086735950.jpg)
   no-repeat center center;
   background-size: cover;
   text-align: center;
   background-position: 10% 10%;
   height: 650px;
   color: white;
   font-size: 1.5em;
}
.navbar {
  align: top;
}
h1 {
    align: top;
}

p {
  text-align: center;
  text-align: top;

}


www.facebook.com/SmthnGwcKDTWC
