body {
  background-image: url("/SomethingWickD_TWC/myCreations/SMTHNwckd/KOHSMTHNGWCK.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

a {
  background-image: url("/SomethingWickD_TWC/myCreations/SMTHNwckd/PicsArt_1441086735950.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1000;

}
PicsArt_1441086735950.jpg
